:root {
    --ff-default: 'open-sans', sans-serif;
    --ff-primary: 'open-sans bold', sans-serif;
    --ff-secondary: 'open-sans semibold', sans-serif;

    --clr-primary: #fff;
    --clr-secondary: #fbd784;
    --clr-darkgold: #ffa343;

    --fs-big: 4rem; 
    --fs-medium: 1.5rem;
    --fs-default: 1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--ff-default);
}

/* CUSTOM CLASSES */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(100% - 1rem, 1460px);
    margin: 0 auto;
}

.wrapper {
    padding: 64px 84px;
}

.link {
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    border: 0px solid;
    transition: .3s;
}

.link:hover::after {
    left: 0;
    width: 100%;
    border: 1px solid;
}

.title {
    position: relative;
    font-family: var(--ff-primary);
    font-size: var(--fs-default);
    color: var(--clr-secondary);
    line-height: 1.5rem;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(100% + 24px);
    transform: translateY(-50%);
    border: 1px solid;
    width: 72px;
}

/* main bg styles */
.hero-bg {
    position: absolute;
    width: min(100%, 1920px);
    min-height: 100vh;
    left: 50%;
    transform: translateX(-50%);

    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.hero-bg img {
    position: absolute;
    top: 0;
    width: 100%;
}

/* header styles */
.header__wrapper {
    justify-content: space-between;
    text-transform: capitalize;
}

.logo {
    font-size: var(--fs-medium);
    font-family: var(--ff-primary);
    color: var(--clr-primary);
}

.header__nav .nav__link {
    margin: 0 50px 0 0;
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
}

.header__nav .nav__link:nth-last-child(1) {
    margin: 0;
}

/* hero section styles */
.hero__section {
    min-height: 600px;
}
.hero__wrapper {
    flex-direction: column;
    height: 200px;
    color: var(--clr-primary);
    font-family: var(--ff-primary);
}

.hero__wrapper .title {
    margin-left: 100px;
}

.hero__heading {
    font-size: calc(var(--fs-big) + 1rem);
    text-transform: capitalize;
}

.hero__heading-thin {
    font-family: var(--ff-default);
    font-weight: 100;
    color: var(--clr-secondary);
}